#image {
        max-width: 100%; /* تعديل حسب الحاجة */
        max-height: 200px; /* تعديل حسب الحاجة */
        display: block; /* يمكنك تعديل هذا لتناسب تخطيطك */
    }
button {
  background-color: #1976D2; /* لون أزرق Material Design */
  color: white;
  border: none;
  height:40px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* ظل Material Design */
  transition: background-color 0.3s, box-shadow 0.3s; /* تأثير انتقالي للأزرار */
}

button:hover {
  background-color: #0D47A1; /* لون أغمق عند تمرير الماوس */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* ظل أكبر */
}
    .group {
    margin: 10px 0;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border:2px solid #1976D2;
    }
    input[type="file"],
input[type="number"],
input[type="color"],
input[type="checkbox"],
input[type="range"],
select {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

input[type="file"] {
    padding: 3px;
    width:100%;
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

label {
    display: block;
    margin: 5px 0px 5px 0;
    color: #666;
}
.accordion-content {
  display: none;
  margin:-10px 10px 0;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  margin: 10px 10px 0;
  background-color: #ddd;
  border-radius:10px;
}


canvas {
            border: 1px solid #cccccc;
}
.canvas-nav-btn {
  position: fixed;
  display: none; /* إخفاء الأزرار بشكل افتراضي */
  z-index: 1200;
  cursor: pointer;
  font-size:20px;
  text-align:center;
  font-weight:1000;
  padding-top:0;
}

#moveUp {
  top: 20px;
  left: calc(50% - 20px);
}

#moveDown {
  bottom: 20px;
  left: calc(50% - 20px);
}

#moveLeft {
  top: calc(50% - 20px);
  left: 20px;
}

#moveRight {
  top: calc(50% - 20px);
  right: 20px;
}
/* تصميم القائمة الجانبية */
.sidebar {;
  height :auto;
  width: 0;
  position: fixed;
  z-index: 1005;
  top: 65px !important;
  left: 0;
  bottom:30px;
  background-color: #f9f9f9;
  overflow: auto;
  transition: 0.5s;
  padding-top: 60px;
  border-radius :0px 5px 5px 0px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* تصميم زر إغلاق القائمة */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 36px;
  margin-left: 20px;
}

/* تصميم زر فتح القائمة */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  position: fixed;
  top: 65px !important;
  left: 0px !important;
  border-radius :0px 5px 5px 0px;
  margin :0;
  height:40px;
  width:40px;
  padding :0px 5px;
  z-index:500;
 }

/* تعديل المحتوى عند فتح القائمة الجانبية */
#main {
  transition: margin-left .3s;
  padding: 16px;
}
